@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@theme {
  /* --- DARK MODE CONFIGURATION --- */
  --variant-dark: .dark &;

  /* --- CUSTOM COLORS --- */
  --color-on-error-container: #93000a;
  --color-surface-dim: #d8dadd;
  --color-on-secondary-fixed: #20005f;
  --color-tertiary-container: #00334e;
  --color-background: #f7f9fc;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #e0e3e6;
  --color-on-surface: #191c1e;
  --color-secondary-fixed: #e8deff;
  --color-on-tertiary-fixed-variant: #004b70;
  --color-surface-container-low: #f2f4f7;
  --color-on-secondary-fixed-variant: #4f00d0;
  --color-tertiary: #001d2f;
  --color-surface-tint: #4c56af;
  --color-primary-fixed-dim: #bdc2ff;
  --color-on-primary-container: #8690ee;
  --color-tertiary-fixed: #cae6ff;
  --color-secondary-container: #7c4dff;
  --color-surface-bright: #f7f9fc;
  --color-on-tertiary-fixed: #001e30;
  --color-error: #ba1a1a;
  --color-on-background: #191c1e;
  --color-error-container: #ffdad6;
  --color-inverse-surface: #2d3133;
  --color-on-secondary: #ffffff;
  --color-outline-variant: #c6c5d4;
  --color-primary-fixed: #e0e0ff;
  --color-on-error: #ffffff;
  --color-primary: #000666;
  --color-on-tertiary: #ffffff;
  --color-primary-container: #1a237e;
  --color-secondary-fixed-dim: #cdbdff;
  --color-secondary: #632ce5;
  --color-surface-container-high: #e6e8eb;
  --color-inverse-primary: #bdc2ff;
  --color-on-tertiary-container: #00a0e9;
  --color-on-secondary-container: #fcf6ff;
  --color-surface: #f7f9fc;
  --color-on-primary-fixed-variant: #343d96;
  --color-outline: #767683;
  --color-inverse-on-surface: #eff1f4;
  --color-surface-variant: #e0e3e6;
  --color-tertiary-fixed-dim: #8dcdff;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #000767;
  --color-surface-container: #eceef1;
  --color-on-surface-variant: #454652;

  /* --- BORDER RADIUS --- */
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* --- SPACING & SIZING --- */
  --spacing-sm: 8px;
  --spacing-lg: 24px;
  --spacing-gutter: 20px;
  --spacing-container-max: 1280px;
  --spacing-unit: 4px;
  --spacing-md: 16px;
  --spacing-xs: 4px;
  --spacing-margin-mobile: 16px;
  --spacing-xl: 48px;

  /* --- FONT FAMILIES --- */
  --font-lexend: "Lexend", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-h1: "Lexend";
  --font-button: "Inter";
  --font-body-lg: "Inter";
  --font-h3: "Lexend";
  --font-h2: "Lexend";
  --font-label-caps: "Inter";
  --font-body-md: "Inter";

  /* --- FONT SIZES (With inline weights and line-heights) --- */
  --font-size-h1: 40px;
  --font-size-h1--line-height: 1.2;
  --font-size-h1--letter-spacing: -0.02em;
  --font-size-h1--font-weight: 700;

  --font-size-button: 14px;
  --font-size-button--line-height: 1.0;
  --font-size-button--font-weight: 600;

  --font-size-body-lg: 18px;
  --font-size-body-lg--line-height: 1.6;
  --font-size-body-lg--font-weight: 400;

  --font-size-h3: 24px;
  --font-size-h3--line-height: 1.4;
  --font-size-h3--font-weight: 600;

  --font-size-h2: 32px;
  --font-size-h2--line-height: 1.3;
  --font-size-h2--letter-spacing: -0.01em;
  --font-size-h2--font-weight: 600;

  --font-size-label-caps: 12px;
  --font-size-label-caps--line-height: 1.0;
  --font-size-label-caps--letter-spacing: 0.05em;
  --font-size-label-caps--font-weight: 700;

  --font-size-body-md: 16px;
  --font-size-body-md--line-height: 1.6;
  --font-size-body-md--font-weight: 400;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            user-select: none;
        }
        .material-symbols-outlined.fill-1 {
            font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .pb-safe { padding-bottom: env(safe-area-inset-bottom, 20px); }
        .no-scrollbar::-webkit-scrollbar { display: none; }
        .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }